@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  --light-text: #24292E;
  --light-bg: #fff;
  --dark-text: #F0F6FC;
  --dark-bg: #0D1117;
  --accent: #EF4444;
  --dark-hover-text: #B0B5BB;
  --dark-nav: #161B22;
  --dark-card: #161B22;
}