@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  --light-text: #1F2937;
  /* gray-800 */
  --light-bg: #fff;
  --dark-text: #f0f6fc;
  --dark-bg: #0d1117;
  --accent: #DBEAFE;
  /* blue 100 */
  --hover-accent: #2563EB;
  /* blue 700 */
  --dark-hover-text: #b0b5bb;
  --dark-nav: #161b22;
  --dark-card: #161b22;
}

@layer base {
  .toggle-checkbox:checked {
    @apply right-0;
    @apply border-blue-400;
    right: 0;
    border-color: #2563EB;
  }
  .toggle-checkbox:checked+.toggle-label {
    @apply bg-blue-400;
    background-color: #2563EB;
  }
  .markdown h1 {
    @apply text-3xl;
    @apply font-bold;
  }
  .markdown h2 {
    @apply text-2xl;
    @apply font-bold;
  }
  .markdown h3 {
    @apply text-xl;
    @apply font-bold;
  }
  .markdown p {
    @apply text-base;
  }
  .markdown ol {
    @apply list-decimal;
  }
  .markdown ul {
    @apply list-disc;
  }
  .markdown li {
    @apply ml-5;
  }
  .markdown a {
    @apply text-blue-500;
  }
  .markdown code {
    @apply bg-blue-100;
    @apply px-2;
    @apply rounded;
    @apply inline-block;
  }
}